{% extends 'Admin/layout.html.twig' %}

{% block main %}
    {% if app.request.query.get("exito") == "delete" %}
        <div class="alert alert-success">Se ha eliminado exitósamente el Rol.</div>
    {% endif %}

    <h1>Listado de Roles</h1>

    <a href="{{ path('admin_rol_new') }}" class="btn btn-primary col-md-offset-10"> <i class="fa fa-plus" aria-hidden="true"></i>
        Nuevo Rol </a>

    {% if rols is not empty %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                
                <th>Nombre</th>
                <th>Ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for rol in rols %}
        {% if rol.baja == 0 %}
            <tr>
        
                <td>{{ rol.nombre }}</td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                {% endif %}
                <td>
                    <a href="{{ path('admin_rol_show', { 'id': rol.id }) }}"><i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('admin_rol_edit', { 'id': rol.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2>¡Lo sentimos! No hay roles cargados en el sistema.</h2>
    {% endif %}

{% endblock %}
