{% extends 'base.html.twig' %}

 {% block sidebar %}
     <ul class="nav nav-pills nav-stacked">
         <li><a href="perfil">Mi perfil</a></li>
         <li class="" ><a href="#" >Lista del Personal</a></li>
         <li class=""><a href="#" >Lista de Usuarios</a></li>
         <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
                 Configuracion <span class="caret"></span>
             </a>
             <ul class="dropdown-menu">
                 {#<li class="divider"></li>#}
                 <li><a href="#">Servicios</a></li>
                 <li><a href="#">Roles</a></li>
                 <li><a href="#">Tipos de Anestesias</a></li>
                 <li><a href="#">ASA</a></li>
                 <li><a href="#">Quirófanos</a></li>
             </ul>
         </li>
     </ul>
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function(){

            $("#sidebar ul li a").click(function () {

            });



            //hacer que corra una vista parcial con el path de los controladores especificos

        })
    </script>

{% endblock %}