{% extends 'base.html.twig' %}

 {% block sidebar %}
     <ul class="nav nav-pills nav-stacked">
         <li><a href="#" id="btn-perfil">Mi perfil</a></li>
         <li class="" ><a href="{{ path('admin_index')}}" id="btn-personal">Lista del Personal</a></li>
         <li class=""><a href="{{ path('admin_user')}}" id="btn-usuarios">Lista de Usuarios</a></li>
         <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
                 Configuracion <span class="caret"></span>
             </a>
             <ul class="dropdown-menu">
                 {#<li class="divider"></li>#}
                 <li><a href="#" id="btn-servicios">Servicios</a></li>
                 <li><a href="#" id="btn-roles">Roles</a></li>
                 <li><a href="#" id="btn-anestesias">Tipos de Anestesias</a></li>
                 <li><a href="#" id="btn-asa">ASA</a></li>
                 <li><a href="#" id="btn-quirofano">Quirófanos</a></li>
                 <li><a href="{{ path("Admin_sangre_index") }}" id="btn-sangre">Sangre</a></li>

             </ul>
         </li>
     </ul>
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function(){
            //no hya nada por ahora
        })
    </script>

{% endblock %}
