{% extends 'base.html.twig' %}

 {% block sidebar %}
     <ul class="nav nav-pills nav-stacked">
         <li><a href="{{ path('operacion_incompletas') }}">Operaciones Incompletas</a></li>
         <li><a href="{{ path('operacion_search') }}">Búsqueda de Operación</a></li>
         <li><a href="{{ path('estadistica_index') }}">Obtener planilla de estadística</a></li>
         <li><a href="{{ path('estadistica_grafica') }}">Realizar estadística gráfica</a></li>
     </ul>
 {% endblock %}
