{% extends 'base.html.twig' %}

 {% block sidebar %}
     <ul class="nav nav-pills nav-stacked">
         <li><a href="{{ path('estadistica_index') }}">Obtener planilla de estad&iacute;stica</a></li>
       
     </ul>
 {% endblock %}
