{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>Personal creation</h1>

    {{ form_start(form, { 'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(form, { 'attr': {'class': 'form-group'}}) }}
        <input type="submit" value="Create" class="btn btn-success btn-sm" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('personal_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
