{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    Segun lo que traduci este es el "truco" para hacer q los blockes no tengan ningun contenido porq mas q en el padre tengan contenido.. esta piola
#}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Esto es el home del hospital rossi viejass</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    <a class="btn btn-primary btn-lg" href={#"{{ path('reserva_index') }}"#}>
                        <i class="fa fa-users" aria-hidden="true"></i> prueba
                    </a>
                </p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    prueba2
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href={#"{{ path('admin_index') }}"#}>
                        <i class="fa fa-lock" aria-hidden="true"></i> prueba3
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
