{% extends 'base.html.twig' %}

{% block body_id 'intro' %}

{#
    Segun lo que traduci este es el "truco" para hacer q los blockes no tengan ningun contenido porq mas q en el padre tengan contenido.. esta piola
#}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Hospital Rossi </h1>
        <h2>Sistema de gestion de operaciones</h2>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('reserva_index') }}">
                        <i class="fa fa-users" aria-hidden="true"></i> Ingresar
                    </a>

                    <a class="btn btn-primary btn-lg" href="{#{{ path('login') }}#}">
                        <i class="fa fa-users" aria-hidden="true"></i> Ingresar como administrador
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
