{% extends 'Admin/layout.html.twig' %}

{% block main %}
    <h1>Listado de Quirófanos</h1>

    <a href="{{ path('admin_quirofano_new') }}" class="btn btn-success col-md-offset-10"> <i class="fa fa-plus" aria-hidden="true"></i>
        Nuevo Quirófano </a>

    {% if quirofanos is not empty %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                
                <th>Nombre</th>
                <th>Ver</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
        {% for quirofano in quirofanos %}
        {% if quirofano.baja == 0 %}
            <tr>
              

                <td>{{ quirofano.nombre }}</td>
                <td>
                    <a href="{{ path('admin_quirofano_show', { 'id': quirofano.id }) }}"><i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('admin_quirofano_edit', { 'id': quirofano.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2>¡Lo sentimos! No hay quirófanos cargados en el sistema.</h2>
    {% endif %}
{% endblock %}
