{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modificar información del Paciente</h1>

    {{ form_start(edit_form) }}
    <div class="form-group">
        {{ form_widget(edit_form) }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success col-sm-offset-10"> <i class="fa fa-check" aria-hidden="true"></i>
            Confirmar </button>
    </div>
    {{ form_end(edit_form) }}

    <table class="table table-striped">
        <tbody>
        <tr>
            <td>
                <a href="{{ path('paciente_show', { 'id': paciente.id }) }}" class="btn btn-primary">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Volver </a>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}
