{% extends 'operacion/layout.html.twig' %}
{% block main %}


     <div class="col-md-6">
         <div class="col-md-5">
             <label for="graffechaHasta">Fecha hasta:</label>
         </div>
        <div class="col-md-7">
            <input id="graffechaHasta" type="text" class="datetimepickerWithoutTime form-control" name="graffechaHasta" required>
        </div>
     </div>
     <div class="col-md-6">
         <div class="col-md-5">
             <label for="graffechaDesde">Fecha hasta:</label>
         </div>
         <div class="col-md-7">
             <input id="graffechaDesde" type="text" class="datetimepickerWithoutTime form-control" name="graffechaDesde" required>
         </div>
     </div>


    <div class="col-md-offset-5 col-md-3">
        <button id="graficar" class="btn btn-primary espacio"> Estadistica entre fechas </button>
    </div>
    
    <div id="loadingGif" class="col-md-12 espacio ">
        <img  class="col-md-offset-6" src="{{ asset('images/ajax-loader.gif') }}" alt="gif-loading">
    </div>

<div id="grafBarra" class="col-12"></div>
{#<div id="grafTorta" class="col-12"></div>#}

{% endblock  %}

{% block javascripts %}

    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function () {
            grafbarra= $("#grafBarra");
            grafbarra.hide();

            btngraficar = $("#graficar");
            fechahasta= $("#graffechaHasta");
            fechadesde= $("#graffechaDesde");
            path="{{ path('ajax_ejemplo') }}";

            function parseDate(str) {
                var mdy = str.split('/');
                return  (mdy[2]+"-"+mdy[1]+"-"+mdy[0]);
            }

            btngraficar.click(function (){

                if(fechahasta.val() && fechadesde.val()){
                     auxhasta=parseDate(fechahasta.val());
                     auxdesde=parseDate(fechadesde.val());
                     graficar(auxhasta,auxdesde);
                }else{
                    alert("debe llenar algun campo");
                }
            });

            function graficar(auxhasta,auxdesde){
                genericoAjax(path,funcOperacionCant,{fechaHasta : auxhasta , fechaDesde : auxdesde});

            }
            $('#loadingGif').hide();
            function genericoAjax(url, funcion, parametros) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    async: true,
                    beforeSend: function() {
                        $('#loadingGif').show();
                    },
                    complete: function(){
                        $('#loadingGif').hide();
                    },
                    data: parametros,
                    dataType: "json",
                    success: function(data){
                        funcion(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("error ajax"+errorThrown)
                    }
                });
            }

            global=null;

            function funcOperacionCant(data){
                global = new Array() ;
                if (data != null) {
                    global= data;
                }
                graficarBarra()
            }


            function graficarBarra(){
                //gananciaXdia= {arreglo :[]};
                //genericoAjax("./?action=gananciaPorDia",funcGanancia,{fechaDesde: fechaDesde.val(), fechaHasta: fechaHasta.val()},gananciaXdia);

                auxfechaDesde = fechadesde.val().split('-');
                grafBarra=$('#grafBarra');
                grafBarra.highcharts({
                    chart: {
                        type: 'spline'
                    },
                    title: {
                        text: 'Operaciones por dia'
                    },
                    subtitle: {
                        text: 'Desde '+fechadesde.val()+' hasta '+fechahasta.val()
                    },
                    xAxis: {
                        type: 'datetime',
                        labels: {
                            overflow: 'justify'
                        },
                        dateTimeLabelFormats: {
                            day: '%e/%m'
                        }
                    },
                    tooltip: {
                        valueSuffix: 'Gan/Dia'
                    },
                    plotOptions: {
                        spline: {
                            lineWidth: 4,
                            states: {
                                hover: {
                                    lineWidth: 5
                                }
                            },
                            marker: {
                                enabled: false
                            },
                            pointInterval: 24 * 3600 * 1000, // one hour
                            /*NO ENTIENDO PORQUE LE TENGO Q DESCONDATAR 1 AL MES
                             LE SUMARA 1 DIGITO AL MES??? NO ENTIENDO PORQ
                             */
                            pointStart: Date.UTC(auxfechaDesde[2],auxfechaDesde[1]-1,auxfechaDesde[0])
                        }
                    },
                    series: [{
                        name: 'Operaciones',
                        data: global //[100,50,30,800,-300,400,500,30] //aca va el arreglo..//
                    }

                    ],
                    navigation: {
                        menuItemStyle: {
                            fontSize: '10px'
                        }
                    }
                });
            }


        });
    </script>

{% endblock %}